.editableSpan {
    position: relative;
}

.editableSpan button {
    position: absolute;
    left: 100%;
    top: 0;
    visibility: hidden;
    z-index: 1;
}

.editableSpan:hover button {
    visibility: visible;
}