.signUp{
    position: fixed;
    min-width: 300px;
    min-height: 400px;
    transform: translate(-50%,-50%);
    top:50%;
    left: 50%;
}
.signUp .form{
    min-width: 300px;
    min-height: 400px;
    background-color: green;
}